<h1><%= @soup.name %></h1>
Túto polievku už podávali v nasledovných reštauráciach:
<br/><br/>
<table>
  <% @soup.day_menus.each do |day_menu| %>
      <tr>
        <td><%= day_menu.restaurant.name %></td>
        <td><%= day_menu.for_day.to_date %></td>
      </tr>
  <% end %>
</table>
<br/>
<%= link_to 'Návrat', root_path %>


