<div class="lunches">
  <% @restaurants.each do |restaurant| %>
      <table class="lunch_table" border="1" width="85%">
        <tr>
          <th colspan="2">
            <%= restaurant.name %>, <%= restaurant.address %>
          </th>
        </tr>
        <tr class="alt">
          <td>1. </td>
          <td>0.33l Šošovicová kyslá</td>
        </tr>
        <tr>
          <td>2. </td>
          <td>0.33l Brokolicová</td>
        </tr>
        <tr class="alt">
          <td>3. </td>
          <td>100g Sviečková na smotane z bravčového mäsa, 150g žemľové knedle</td>
        </tr>
        <tr>
          <td>4. </td>
          <td>100g Restované morčacie rezančeky s cuketou, fazuľovými luskami a cherry paradajkami, 150g dusená ryža</td>
        </tr>
        <tr class="alt">
          <td>5. </td>
          <td>300g Kelový prívarok s duseným bravčovým mäsom 100g, chlieb</td>
        </tr>
      </table>
      <br />
  <% end %>
</div>
